In [ ]:
!pip list

In [ ]:
!pip install pandas 
!pip install numpy 
!pip install matplotlib

In [ ]:
data ={"test":[20,22,14,10],
"type":['HIV','COVID','SCREEN','STD']
}

In [ ]:
data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [ ]:
testnums=pd.DataFrame(data)

In [ ]:
testnums=pd.DataFrame(data,index=['h','c','sc','st'])

In [ ]:
testnums

In [ ]:
testnums.loc['sc']

In [ ]:
testnums.tail(2)

In [ ]:
testnums.shape

In [ ]:
testnums.dtypes

In [ ]:
testnums.describe()

In [ ]:
testnums.describe(include='all')

In [ ]:
df_csv=pd.DataFrame(pd.read_csv('./Book2.csv'))

In [ ]:
df_csv.describe()

In [29]:
df_csv.describe(include='all')

       Month     Positive    Negative        Test
count      12   12.000000   12.000000   12.000000
unique     12         NaN         NaN         NaN
top       Jan         NaN         NaN         NaN
freq        1         NaN         NaN         NaN
mean      NaN  144.000000  105.500000  249.500000
std       NaN   79.322128   39.661064  118.983192
min       NaN   23.000000   45.000000   68.000000
25%       NaN   83.500000   75.250000  158.750000
50%       NaN  144.000000  105.500000  249.500000
75%       NaN  204.500000  135.750000  340.250000
max       NaN  265.000000  166.000000  431.000000